<nav class="nav-body navbar navbar-expand-md navbar-dark bg-dark mb-4 w-100">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/createuser">Sign up <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Sign in</a>
                </li>
              <% } else { %>
                <a class="btn btn-outline-primary" href="/users/edituser">loggedIn as <%= currentUser.name %></a>
                <div style="width: 10px"></div>
                <a class="btn btn-outline-primary" href="/users/signout">Sign out</a>
              <% } %>
        </ul>
    </div>
</nav>

