<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
  </head>
  <body>
    <% include partials/navbar %>
    <%= message %>
    <% include partials/scripts %>
  </body>
</html>
